$b: '.inline-svg';

#{$b} {
  @include aspect-ratio();
  position: relative;
  display: block;
  width: 100%;

  @at-root {
    span#{&} {
      display: inline-block;
      vertical-align: middle;
    }
  }

  &[data-dir=up] svg {
    transform: rotate(0);
  }

  &[data-dir=right] svg {
    transform: rotate(90deg);
  }

  &[data-dir=down] svg {
    transform: rotate(180deg);
  }

  &[data-dir=left] svg {
    transform: rotate(270deg);
  }

  &[data-flip=horizontal] svg {
    transform: scale(-1) rotateX(180deg);
  }

  &[data-flip=vertical] svg {
    transform: scale(-1) rotateY(180deg);
  }

  svg {
    @include fill-abs();
    transform-origin: 50% 50%;
  }

  &-logo {
    @include aspect-ratio(284, 30);
  }

  &-search {
    @include aspect-ratio(21, 22);
  }

  &-cart {
    @include aspect-ratio(22, 23);
  }

  &-youtube {
    @include aspect-ratio(20, 14);
  }

  &-pinterest {
    @include aspect-ratio(15, 20);
  }

  &-telegram {
    @include aspect-ratio(20, 18);
  }

  &-swipe-hand {
    @include aspect-ratio(30, 25);
  }
}
