$b: '.portfolio-item';

#{$b} {
    border-radius: $brs-base;
    box-shadow: $shadow-base;

    &__content {
        display: flex;
        flex-direction: column;
        padding: $padding-sm;
        border-radius: $brs-base;
        box-shadow: $shadow-base;
    }

    &__image {
        & img {
            @include aspect-ratio(405, 228);
            @include clickable();
            @include lazyloadPreloader();
            position: relative;
            display: block;
            width: 100%;
        }   
    }

    &__title {
        font-weight: 700;
        font-family: $font-family-base;
        font-size: $font-size-md;
        line-height: 1.55;
    }

    &__date {
        font-size: $font-size-sm;
        line-height: 1.56;
        font-family: $font-family-alt;
        opacity: 0.8;

        @include mobile() {
            font-size: $font-size-xxs;
        }
    }

    &__backdrop {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,0.4);
        margin-top: $header-h;
        padding: $padding-5xl;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
        -ms-overflow-style: none;
        scrollbar-width: none;
        overflow-x: scroll;

        &::-webkit-scrollbar {
            display: none;
        }

        @include mobile() {
            margin-top: 0;
            padding: $padding-xxs;
        }
    }

    &__modal {
        background-color: #fff;
        border-radius: 5px;
        width: 800px;
        margin: auto;
        padding: $padding-xl;
        box-shadow: 0 $padding-xxs $padding-sm rgb(0 0 0 / 20%);

        @include mobile() {
            width: 100%;
            padding: $padding-md;
        }

        & img {
            width: 100%;
            margin-top: $padding-xxl;
        }
    }

    &__description {
        font-size: $font-size-sm;
        line-height: 1.56;
        font-family: $font-family-alt;

        @include mobile() {
            font-size: $font-size-xs;
        }
    }

    &__info {
        display: block;
        margin-top: $padding-md;
        font-size: 12px;
        font-family: $font-family-base;
        line-height: 1.66;
        
        & span {
            &:first-child {
                font-weight: 700;
                text-transform: uppercase;
                float: left;
                display: block;
            }
            
            &:last-child {
                padding-left: $padding-4xl * 2;
                display: block;

                @include mobile() {
                    padding-left: $padding-6xl;
                }
            }
        }
    }

    &__buttons {
        margin-top: $padding-lg;

        & a {
            margin-right: $padding-md;
        }
    }
}