$b: '.site-socials';

#{$b} {
  display: flex;

  &__social {
    @include clickable();
    @include center-flex();
    @include round(40px);
    flex: 0 0 auto;
    border: 1px solid $border-base;

    @include low-desktop {
      @include size(20px);
    }

    @include tablet {
      @include size(40px);
    }

    &:hover {
      .inline-svg {
        svg {
          [fill] {
            fill: $accent-base;
          }

          [stroke] {
            stroke: $accent-base;
          }
        }
      }
    }

    &:not(:last-child) {
      margin-right: $padding-xl;

      @include low-desktop {
        margin-right: $padding-sm;
      }
    }

    .inline-svg {
      width: percentage(20 / 40);
      transition: $g-transition;

      &-pinterest {
        svg {
          transform: scale((15 / 20));
        }
      }

      svg {
        [fill] {
          fill: $text-light;
          transition: $g-transition;
        }

        [stroke] {
          stroke: $text-light;
          transition: $g-transition;
        }
      }
    }
  }
}
